<li>
  {{question.author}}'s question: {{question.question}}
  {{#if isInfoShowing}}
    <p><img src={{question.additional}} {{action 'infoHide'}}></p>
  {{else}}
    <button {{action 'infoShow'}}>Additonal Info</button>
  {{/if}}
</li>


<!-- {{#each model as |questions|}}
  <li>Q:{{questions.question}}<br> A:{{questions.answer}}</li>
{{/each}} -->
