<li>
  {{question.author}}'s question: {{question.question}}
  {{#if isInfoShowing}}
    <p><img src={{question.additional}} {{action 'infoHide'}}></p>
  {{else}}
    <button {{action 'infoShow'}}>Additonal Info</button>
  {{/if}}
</li>
