<li>
  {{question.author}}'s question: {{question.question}}
  {{#if isInfoShowing}}
    <p {{action 'infoHide'}}>{{question.additional}}</p>
  {{else}}
    <button {{question.additional}} {{action 'infoShow'}}>Additonal Info</button>
  {{/if}}
</li>
